{% extends 'base.html.twig' %}

{% block title %}Espace Parent - Icom Circus{% endblock %}

{% block body %}

    <h1>Bienvenue dans votre Espace parent</h1>

<a href="{{ path('app_member_album') }}"><button type="button" class="btn btn-success">Accèder au photos de la session</button></a>

{% endblock %}
