.modalcustom{
    transition: transform .2s;
}

.modalcustom:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.bloglink {
    text-transform: uppercase;
    text-decoration: none;
}

.illusblog{
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}