body{
    min-height: 100vh;
    // background: linear-gradient(to right top, var(--circus-purple), var(--circus-blue));
    color: black;
    position: relative;
    font-size: 16px;
}

.navbar {
    background-color: var(--circus-purple);
    font-size: 28px;

    .login {
        fill:white;
        opacity: 1;
        width:16px;
    }

    .login:hover{
        fill:#3f3f3f;
        transition: 0.2s ease-in-out;
    }

    a {
        color: white
    }
    
    a:hover {
        color: #3f3f3f
    }
}

.body{
    padding-bottom: 150px;
}

footer{
    position: absolute;
    bottom:0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.596);
}
