.productfocus {
    background-image: linear-gradient(to right, rgba(255, 255, 255), rgba(255, 255, 255, 0)), url(/assets/images/recevoir_cirque.png);
    background-size: cover;
    color: #3f3f3f;
    padding: 22vh 0;
    font-family: var(--ff-title);
}

#calendar {
    text-decoration: none;
}

.jsinfo {
    display: none;
}

.calendarcol a {
    text-decoration: none;
    color: black;
}

.kiddies {
    max-width: 70%;
}

.kiddies2 {
    max-width: 80%;
}

.pricingcard {
    height: 90%;

    .card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    }
}