@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

:root{
    --circus-red: rgb(255, 57, 57);
    --circus-green: rgb(158,212,80);
    --circus-yellow: rgb(255,180,0);
    --circus-purple: rgb(144,104,212);
    --circus-blue: rgb(75,177,223);

    --ff-title: 'Fredericka the Great', cursive;
    --ff-main: 'Oxygen', sans-serif;
}
