@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
    --circus-red: rgb(255, 57, 57);
    --circus-green: rgb(158,212,80);
    --circus-yellow: rgb(255,180,0);
    --circus-purple: rgb(144,104,212);
    --circus-blue: rgb(75,177,223);

    --ff-title: 'Sedgwick Ave', cursive;
    --ff-main: 'Roboto Condensed', sans-serif;
}
