{% extends 'base.html.twig' %}

{% block title %}Recevoir l'académie{% endblock %}

{% block body %}
<h3>Vous souhaitez recevoir l'académie</h3>

-> Conditions de réception

-> Disponibilités


{% endblock %}
