{% extends 'base.html.twig' %}

{% block title %}Planning d'une semaine
{% endblock %}

{% block body %}
	<div class="container-fluid planning">
		<div class="row">
			<h1 class="p-3">Planning de la semaine:</h1>
			<div class="col">
				<div class="card border-primary mb-3">
					<div class="card-header">
						<h2>
							<b>Lundi</b>
						</h2>
					</div>
					<div class="card-body">
						<ul class="list-group list-group-flush">
							<li class="list-group-item">
								<p>Les animateurs et les enfants se réunissent pour se présenter et faire connaissance. Les consignes à suivre poour la semaine sont expliqués.</p>
							</li>
							<li class="list-group-item">
								<p>Nous expliquons les téails techniques concernant le chapiteau. Dans un but pédagogique, nous détaillons le chemin parcouru pour transporter les chapiteaux. Cela va permettre aux enfants de faire un lieu avec les mathématiques et la géographie.</p>
							</li>
							<li class="list-group-item">
								<p>La première matinée nous divisons les enfants en petits groupes pour découvrir chaque discipline.</p>
							</li>
							<li class="list-group-item">
								<p>Après la pause du midi, les enfants sont libres d'aller dans l'atelier qu'ils souhaitent. A la fin de cette journée, les enfants ont le temps de retourner à la maison et de penser à la discipline qu'ils veulent présenter au spectacle.</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col pt-3">
				<div class="card border-danger mb-3">
					<div class="card-header">
						<h2>
							<b>Mardi</b>
						</h2>
					</div>
					<div class="card-body">
						<ul class="list-group list-group-flush">
							<li class="list-group-item">
								<p>Suite au choix des enfants, le groupe est divisé de manière définitive en fonction des disciplines.</p>
							</li>
							<li class="list-group-item">
								<p>Une fois les groupes formés, chaque animateur prend un groupe en charge. Lorsque l'animateur se charge d'un groupe, exemple le jonglage, il montre aux enfants les différentes techniques et les différentes figures possibles à réaliser en jonglerie</p>
							</li>
							<li class="list-group-item">
								<p>Par la suite, les enfants commenceront à s'initier eux-mêmes. C'est une journée initiation par rapport à la disciplie choisie.</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">

			<div class="col">
				<div class="card border-warning">
					<div class="card-header">
						<h2>
							<b>Mercredi</b>
						</h2>
					</div>
					<div class="card-body">
						<ul class="list-group list-group-flush">
							<li class="list-group-item">
								<p>La journée du mercredi est assez courte puisque l'école se termine à 12h</p>
							</li>
							<li class="list-group-item">
								<p>Durant la matinée, les enfants travaillent sur leurs techniques et surtout sur les figures qu'ils souhaitent réaliser pendant le spectacle</p>
							</li>
							<li class="list-group-item">
								<p>Ils sont donc suivis de près par les animateurs</p>
							</li>
							<li class="list-group-item">
								<p>Le but est qu'ils retiennent les figures qu'ils ont à faire et surtout qu'ils y travaillent pour montrer aux parents de quoi ils sont capables</p>
							</li>
							<li class="list-group-item">
								<p>Cette matinée va également servir à trouver le Monsieur ou Madame Loyal. Des castings sont mis en place</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col pt-3">
				<div class="card border-info">
					<div class="card-header">
						<h2>
							<b>Jeudi</b>
						</h2>
					</div>
					<div class="card-body">
						<ul class="list-group list-group-flush">
							<li class="list-group-item">
								<p>Le spectacle approche à grands pas. La technique et les figures de tout le monde doivent être au point</p>
							</li>
							<li class="list-group-item">
								<p>La animateurs sont donc attentifs aux enfants qui ont encore besoin d'un coup de pouce. Les autres vont continuer à s'éxercer pour être à 100% prêt pour le spectacle. Sans oublier les mesdames et messieurs "Loyal" qui répètent leur texte.</p>
							</li>
							<li class="list-group-item">
								<p>L'après-midi, les enfants prennent place sur la piste afin de se familiariser avec cette magique piste ronde</p>
							</li>
							<li class="list-group-item">
								<p>On leur apprend comment se comporter en piste et aussi comment réaliser un compliment devant le public</p>
							</li>
							<li class="list-group-item">
								<p>On définit les positionnements de chacun et chaque groupe répète son numéro en musique et en lumière de façon à être en condition spectacle.</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row pt-3">
			<div class="col">
				<div class="card border-success">
					<div class="card-header">
						<h2>
							<b>Vendredi</b>
						</h2>
					</div>
					<div class="card-body">
						<h4>
							<b>
								<u>C'est le jour J.</u>
							</b>
						</h4>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">
								<p>Dès le matin nous commencerons les répétitions générales. Tout le monde se prépare en coulisses et s'échauffent avant de rentrer sur scène pour la dernière fois avec le grand spectacle de l'après-midi</p>
							</li>
							<li class="list-group-item">
								<p>Les enfants doivent donner le meilleur d'eux-mêmes. C'est le dernier moment pour rectifier les petits détails. Nous terminons les répétitions à 12h</p>
							</li>
							<li class="list-group-item">
								<p>Nous donnons rendez-vous aux enfants et parents 45 avant le spectacle.</p>
							</li>
							<li class="list-group-item">
								<p>Les parents ont la possibilité de boire un verre et de déguster nos délicieux pop-corn grâce à notre petite restauration sur place. Ensuite, place à vos artistes pour un moment riche en émotions!</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
